# Qt Creator files
*.pro.user
*.qmake.stash
*.qmake.cache
CMakeLists.txt.user

# Build directories
build/
build-*/
.qtc_clangd-*/
cmake-build-*/

# Compiled files
*.o
*.obj
*.exe
*.dll
*.so
*.dylib

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Audio files (user-provided)
sounds/*.mp3
sounds/*.wav
sounds/*.ogg
!sounds/README.txt